  <h1>Current Users</h1>
  <table class='table my-5'>
  <thead>
    <tr>
      <th scope='col'>No</th>
      <th scope='col'>Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Admin</th>
      <th colspan="4"><span class='px-5' >Actions<span></th>
    </tr>
  </thead>
    <%= render 'user', collection: @users %>
  <tbody>

  </tbody>
  </table>
  <%= link_to 'Back', :back, class: 'btn btn-primary btn-sm' %>
